
.bar{
    height: auto;
    width: 100%;
    
    
 background-color: #434341;

/* top:500px ; */
/* margin-top: 100px; */

top: 300px;
 
}
.bg1{
    height: 200px;
}

.small{
    margin-right: 400px;
    padding-top: 5px;position: relative;
    
}
.btn-group{
    margin-top: -90px;
    margin-left: 90px;

}
.border-box{
    height: 60px;
    width: 510px;
    border: 1px solid;
    text-align: center;
    /* margin-left: 100px; */

    border-radius: 10px 10px  10px 10px;
    background-color: #C5CABB  ;
    /* position: absolute; */
    



}

 .bal-box{
     height:40px;
      /* margin-top: 5px; */ 
     width: 100px;
     margin-left:2px; 
     background-color: #C5CABB;
     border-radius: 10px 10px 10px 10px;
     float: left;
     margin-left: 5px; 
     
     

} 
 .divider {
    width: 2px;
    background-color:#F0F5E6  ;
 
    margin-right: 10px;
    height: 1.5cm;
  }  

  .btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: -22px;
    
}
.icons{
    margin-top: 10px;
    margin-left: 5px;
}
.chat-box{
    border-radius: 10px 10px 10px 10px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
    
}


.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: -23px;
}




 @media only screen and (max-width: 600px) {
 .btn-group{
       /* margin-left:50px; */
    z-index: 10px;
    margin-top: -200px; 
    /* height: auto; */
/* height:; */
    
       


    } 

    img {
        /* vertical-align: middle; */
        /* border-style: none; */
        height: 31px;
        width: 38px;
    }
    .border-box{
        width:auto;


        /* float: left; */
    }
    .bar{
        width: auto
    }


    chat-box{

        /* margin-right:  */
    
    } 

    .border-box{
        width:300px;
        /* position:absolute; */
        
    }
    .bar{
        width: 100%
    }

  

  .chat-box{
   
    height: 20px;
    width: 200px;
    /* margin-lefpx; */
/* margin-left: 50px */
/* margin-left:px */
/* margin-right: 300px */
}



.divider {
    /* margin-right:0px */

}



} 