.footbar{
    border: 1px solid;
    bottom: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* margin-left: 50px; */
   

    background-color: #494B45;
    height: auto;
    display: flex;
    /* margin-top: 10px */


}




.small{
    margin-right: 400px;
    padding-top: 5px;
    
}
.btn-group{
    margin-top: -40px;
    margin-left: 180px;

}
.border-box{
    height: 70px;
    width: 600px;
    border: 1px solid;
    text-align: center;


    border-radius: 10px 10px  10px 10px;
    background-color: #C5CABB  



}
.chat-box{
   border-radius: 10px 10px 10px 10px;
   width: 300px;
   /* padding-right: 10px; */
   
}
.bal-box{
     height:40px;
     margin-top: 5px;
     width: 140px;
     margin-left:2px; 
     background-color: #C5CABB;
     border-radius: 5px 5px 5px 5px;
     float: left;
     
     

}
.divider {
    width: 2px;
    background-color:#F0F5E6  ;
    /* margin-left: 1px; */
    margin-right: 10px;
    height: 2cm;
  }


  @media only screen and (max-width: 600px) {

    
  }